.card2 {
    padding: 7rem;
    width: 16%;
    height: 16rem;
    margin: 3rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    background-color: white;
    
    align-items: center;
    justify-content: center;
    display: block;
  }

.student {
   font-size: 110%;
   font-family: "Segoe UI", 'Open Sans', sans-serif;
   color: #808080;
   font-weight: bold;
   margin: auto;
   width: 35%;
   position: relative;
   text-align: center;
   bottom: 85px;
}
.name {
   font-size: 200%;
   font-family: "Segoe UI", 'Open Sans', sans-serif;
   color: #7A003C;
   font-weight: bold;
   margin: auto;
   width: 67%;
   position: relative;
   bottom: 75px;
   white-space: nowrap;
   overflow: visible;
   text-align: center;

} 

.date {
   font-size: 160%;
   font-family: "Segoe UI", 'Open Sans', sans-serif;
   color: #7A003C;
   margin: auto;
   width: 65%;
   position: relative;
   bottom: 75px;
   white-space: nowrap;
   overflow: visible;
   text-align: center;
}

.image {
    margin-top: -70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 55%;
}

.grey {
    background-color:rgba(249, 249, 249);
    background-size: auto;
    margin-left: 2rem;
    width: 100%;
}

.location {
    margin-left: -110px;
    width: 178%;
    float: left;
}

.button {
    font-family: "Segoe UI", 'Open Sans', sans-serif;
    color: rgb(122,2,60);
    border: 1px solid rgb(122,2,60);
    background-color: white;
    padding: 0.9rem 2.7rem;
    border-radius: 40px;
    cursor: pointer;

    margin-top: 40px;
    margin-left: 40px;
}


  
  